<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="assetscss/custom.css" />
</head>
<body>

  <h1>{{ page.title }}</h1>

  {{ content }}

  <footer class="license">
    <a href="https://github.com/davidstaicu-dev/SIPJ1">Curso DAM</a> © 2025 per <a href="https://github.com/davidstaicu-dev">David Staicu</a> està sota la llicencia <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">  
    <a href="https://creativecommons.org/licenses/by-nc/4.0/">
      <img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" alt="Licencia CC BY-NC-sa 4.0 ES" />
    </a>
  </footer>

</body>
</html>
